.conbg {
    width: 100%;
    height: 90vh;
  }
  .bg2 {
    z-index: 2;
    position: relative;
    width: 75%;
    height: 700px;
    margin: 100px auto;
    transform: rotate(10deg);
    background-repeat: no-repeat;
    /* background-image: url(https://drive.google.com/uc?export=view&id=1AJxKso7O4jR48-8mAoZLZv1HIyug9ks4); */
    background-size: cover;
    background-position: right -50px;
    background-color: #000000;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
    image-rendering: smooth;
  }
  .bg1 {
    z-index: 3;
    position: relative;
    margin: auto;
    transform: rotate(-5deg);
    /* background-image: url(https://drive.google.com/uc?export=view&id=17rKKY_REnUSWmnbevnN40N-hI_N8xptN); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right -70px;
    background-color: #000000;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
    height: 700px;
    image-rendering: smooth;
  }
  .bg {
    z-index: 4;
    position: relative;
    margin: auto;
    transform: rotate(-5deg);
    height: 700px;
    background-repeat: no-repeat;
    /* background-image: url(https://drive.google.com/uc?export=view&id=1toswxFGdQovJ-0xuHaRPuvpyHQWLNMm1); */
    background-size: cover;
    background-position: right -50px;
    background-color: #000000;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
    image-rendering: smooth;
    
  }
  .bg-text {
    width: 100%;
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
  }
  .bg-text a {
    margin: 5px;
    float: right;
  }
  
  #bg1:target .bg {
    animation: ciut 1s forwards;
  }
  #bg1:target {
    animation: fre 0.3s forwards;
  }
  #bg2:target .bg1 {
    animation: ciut 1s forwards;
  }
  #bg2:target {
    animation: fre1 0.3s forwards;
  }
  #conbg:target .bg2 {
    animation: ciut1 1s;
  }
  @keyframes fre1 {
    0% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes fre {
    0% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(-10deg);
    }
  }
  @keyframes ciut {
    0% {
      opacity: 1;
      transform: rotate(-5deg) scale(1);
    }
    100% {
      opacity: 0;
      transform: rotate(360deg) scale(0);
    }
  }
  @keyframes ciut1 {
    0% {
      opacity: 0;
      transform: rotate(0deg) scale(0);
    }
    100% {
      opacity: 1;
      transform: rotate(370deg) scale(1);
    }
  }
  
  #canvas {
    text-align: center;
  }


body {
    background-color: #a3a9a6;
}

@media only screen and (max-width: 576px) {
  .bg2 {
    height: 50vh;
  }
  .bg1 {
    height: 50vh;
  }
  .bg {
    height: 50vh;
  }
  
}