<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/cards.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/likebtn.css') }}"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <div class="container conbg" id="conbg">
      <div class="bg2" id="bg2">
        <div class="bg1" id="bg1">
          <div class="bg" id="bg">
            <div class="bg-text text-light ps-3">
              

              <!-- Like Button -->
              <button class="like-button bg">
                <div class="like-wrapper">
                  <div class="ripple"></div>
                  <svg class="heart" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z"></path>
                  </svg>
                  <div class="particles" style="--total-particles: 6">
                    <div class="particle" style="--i: 1; --color: #7642F0"></div>
                    <div class="particle" style="--i: 2; --color: #AFD27F"></div>
                    <div class="particle" style="--i: 3; --color: #DE8F4F"></div>
                    <div class="particle" style="--i: 4; --color: #D0516B"></div>
                    <div class="particle" style="--i: 5; --color: #5686F2"></div>
                    <div class="particle" style="--i: 6; --color: #D53EF3"></div>
                  </div>
                </div>
              </button>




              <!-- <h3>Selamat datang di<br />PutihNET Official</h3>
              <p>
                Desain Login Page Hotspot<br />
                Desain Voucher Wifi<br />
                Bisnis Voucher
              </p> -->
              <a class="text-light" href="#bg1"
                ><svg
                  id="first-path"
                  viewBox="0 0 448 512"
                  width="30"
                  fill="#fff"
                  title="angle-double-right"
                >
                  <path
                    id="first-path"
                    d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z"
                  /></svg
              ></a>
            </div>
          </div>
          <div class="bg-text text-light ps-3">

              <!-- Like Button -->
              <button class="like-button bg1">
                <div class="like-wrapper">
                  <div class="ripple"></div>
                  <svg class="heart" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z"></path>
                  </svg>
                  <div class="particles" style="--total-particles: 6">
                    <div class="particle" style="--i: 1; --color: #7642F0"></div>
                    <div class="particle" style="--i: 2; --color: #AFD27F"></div>
                    <div class="particle" style="--i: 3; --color: #DE8F4F"></div>
                    <div class="particle" style="--i: 4; --color: #D0516B"></div>
                    <div class="particle" style="--i: 5; --color: #5686F2"></div>
                    <div class="particle" style="--i: 6; --color: #D53EF3"></div>
                  </div>
                </div>
              </button>





            <!-- <h3>Selamat datang di<br />PutihNET Official</h3>
            <p>
              Desain Login Page Hotspot<br />
              Desain Voucher Wifi<br />
              Bisnis Voucher
            </p> -->
            <a class="text-light" href="#bg2"
              ><svg
                viewBox="0 0 448 512"
                width="30"
                fill="#fff"
                title="angle-double-right"
                id="second-path"
              >
                <path
                  id="second-path"
                  d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z"
                /></svg
            ></a>
          </div>
        </div>
        <div class="bg-text text-light ps-3">

                        <!-- Like Button -->
                        <button class="like-button bg2">
                          <div class="like-wrapper">
                            <div class="ripple"></div>
                            <svg class="heart" width="24" height="24" viewBox="0 0 24 24">
                              <path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z"></path>
                            </svg>
                            <div class="particles" style="--total-particles: 6">
                              <div class="particle" style="--i: 1; --color: #7642F0"></div>
                              <div class="particle" style="--i: 2; --color: #AFD27F"></div>
                              <div class="particle" style="--i: 3; --color: #DE8F4F"></div>
                              <div class="particle" style="--i: 4; --color: #D0516B"></div>
                              <div class="particle" style="--i: 5; --color: #5686F2"></div>
                              <div class="particle" style="--i: 6; --color: #D53EF3"></div>
                            </div>
                          </div>
                        </button>

                        
          <!-- <h3>Selamat datang di<br />PutihNET Official</h3>
          <p>
            Desain Login Page Hotspot<br />
            Desain Voucher Wifi<br />
            Bisnis Voucher
          </p> -->
          <a class="text-light" href="#conbg"
            ><svg
              viewBox="0 0 448 512"
              width="30"
              fill="#fff"
              title="angle-double-right"
              id="last-path"
            >
              <path
                id="last-path"
                d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z"
              /></svg
          ></a>
        </div>
      </div>
    </div>
    <script src="{{url_for('static', filename='cards.js')}}"></script>
    
  </body>
</html>
