<!DOCTYPE html>
<html lang="en">
<head>
  <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/gallery.css') }}"
    />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <div class="section-padding gallery-section" id="gallery">
    <div class="container">
      <!-- Section Title Start -->
      <div class="text-center">
        <h2 class="title">Our Gallery</h2>
        <p>Some Random Photos Lorem ipsum, dolor sit.</p>
      </div>
      <!-- Section Title End -->

      <div id="btncontainer" class="filter">
        <a class="btn btn-active" href="#all">ALL</a>
        <a class="btn" href="#Disliked">Disliked</a>
        <a class="btn" href="#Liked">Liked</a>
        
      </div>

      <!-- Gallery Section Start -->

      <div class="gallery sets">
        <!-- <a class="all Disliked"><img src="https://iili.io/y7W4t4.md.webp"/></a>

        <a class="all Disliked"><img src="https://i.redd.it/a90376enwvg91.jpg"/></a>

        <a class="all Disliked"><img src="https://iili.io/y7waOg.md.jpg"/></a>
        
        <a class="all Disliked"><img src="https://iili.io/y7WrNf.webp"/></a>
        
        <a class="all Liked"><img src="https://i.redd.it/wh6hbexev2v91.jpg"/></a>
        
        <a class="all Liked"><img src="https://i.redd.it/4b6s83hss9p91.jpg"/></a>
         -->
        
      </div>
    </div>
  </div>  
  <script src="{{url_for('static', filename='gallery.js')}}"></script>

</body>
</html>
      